body {
    padding: 50px 20%;
    font-family: Merriweather, Serif;
}

h1, h2, h3, strong, bold {
    color: Plum;
}

h1, h3 {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-align: right;
    border-bottom: 1px LightSlateGray solid;
}

hr {
    color: LightSlateGray;
    width: 50%;
}

P {
    color: LightSlateGray;
    text-align: justify;
    font-style: italic;
}

#big-achievement {
    color: red;
}

.enginePara {
    font-style: italic;
}